
body{
    display: block;
    text-align:center;

}

.backgroundImg{
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    width:100vw;
    height: 100%;
    position:fixed;
    top:0;
    left: 0;
    z-index: -1;
    resize: both;
}

header{
    font-size: 30px;
    margin: 50px auto;
}


.game-container{
    border-radius: 10px;
    display:grid;
    grid-template-columns: repeat(3,auto);
    background-color: rgb(5, 128, 128);
    padding:20px;
    width: 610px;
    height: 610px;
    margin: 50px auto;
}

.cell{
    border-radius: 10px;
    background-color: rgb(11, 209, 209);
    position: relative;
    display: block;
    text-align: center;
    font-size: 100px;
    width:200px;
    height: 200px;
    

}

.cell:hover{

    background-color: rgba(11, 209, 209, 0.329);

}


.characterSelectionText{
    font-size: 35px;
}


.gamescore-container{
    border-radius: 10px;
    display: grid;
    grid-template-columns:245px 245px;
    grid-template-rows:50px 50px;
    background-color: rgb(36, 36, 36);
    text-align: center;
    grid-gap:10px;
    padding:10px;
    margin: 0px auto;
    width: 500px;
    color: white;
    
}

.gamescore-container > div{
    border-radius: 10px;
    background-color: rgb(165, 165, 165);
    text-align: center;
    display: block;
    float: center;
}

.player{
    font-size: 20px;
    line-height: 10px;
    text-transform:uppercase;
}

.score{
    display: inline-block;
    font-size: 20px;
    text-align: center;
}

.playerSelection{

    height:150px;
    width:auto;

}


.popupDraw{

    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;

}

.popupWin{

    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;

}

.popup{
    height: 250px;
    width:500px;
    background:rgb(250, 147, 13);
    border:10px solid rgb(221, 130, 12) ;
    padding: 20px;
    border-radius: 10px;
    position:relative;
}

.popupMessage{
    font-size: 30px;
    margin:50px;

}

button{
    font-family: 'New Super Mario Font U', sans-serif;
    border-radius: 10px;
    padding:10px 15px;
    color:rgb(36, 36, 36);
    font-weight:bold;
    text-transform:uppercase;
    font-size: 15px;
    box-shadow: 6px 6px 29px -4px rgb(0, 0, 0, 0.75);
    margin-top: 25px;
    text-decoration: none;
    transition: 0.4s;
    margin-bottom: 10px;
    
}

button:hover{
    background-color:rgb(240, 175, 13);
    color:rgb(36, 36, 36);
  
}

.resetBoardButton{
    font-family: 'New Super Mario Font U', sans-serif;
    border-radius: 10px;
    padding:10px 15px;
    background-color: rgb(243, 226, 214);
    color:rgb(36, 36, 36);
    font-weight:bold;
    text-transform:uppercase;
    font-size: 15px;
    box-shadow: 6px 6px 29px -4px rgb(0, 0, 0, 0.75);
    margin-top: 50px;
    text-decoration: none;
    transition: 0.4s;
    vertical-align:middle;
}

.resetBoardButton:hover{
    background-color:rgb(240, 175, 13);
    color:rgb(36, 36, 36);
  
}



@media only screen and (max-width:800px){
    
    .backgroundImg{
    background-position: center;
    background-size: contain;
    background-repeat: repeat-x;
    width:100vw;
    height: 50%;
    position:fixed;
    top:0;
    left: 0;
    z-index: -1;
    background-color: #e1ddd2;
    }

    .game-container{
  
    grid-template-columns: repeat(3,auto);
    padding:10px;
    width: 310px;
    height: 310px;
    margin: 50px auto;
    }

    .cell{
   
    width:100px;
    height:100px;
    

    }

    .characterSelectionText{
    font-size: 20px;
    }

}


